<div class="posted-needs">
	<ul>
		<% @needs.each do |need| %>
			<li>
				<span id="title"><a href="need/<%= need.id %>"><h3><%= need.title %></h3></a></span>
				</br>
				<span id="description"><%= need.description %></span>
				</br>
				<a href="/need/<%= need.id %>">Reply with Lead</a>
				</br>
				<%= need.leads.count %> Leads
				</br>
				Tags: <a href="tagged/<%= need.tags %>"><%= need.tags %></a>
				</br>
			</li>
		<% end %>
	</ul>
</div>